<template>
    <el-table
        :data="list"
        style="width: 100%"
        @row-click="moveDetail">
        <el-table-column
            prop="id"
            label="No."
            width="180">
        </el-table-column>
        <el-table-column
            prop="productName"
            label="상품명"
            width="180">
        </el-table-column>
        <el-table-column
            prop="sellProductType"
            label="상품타입"
            width="180">
        </el-table-column>
        <el-table-column
            prop="unitPrice"
            label="가격">
        </el-table-column>
    </el-table>
</template>
<script>
export default {
    // middleware: 'auth',
    data() {
        return {
            list: []
        }
    },
    methods: {
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$sellProductConstants.DO_SELL_PRODUCT_DATA)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        delData(id) {
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$testDataConstants.DO_DELETE, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
        moveCreate() {
            this.$router.push(`/sell-product/form`)
        },
        moveDetail(row) {
            let linkBaseUrl = '/sell-product/detail/'
            let id = row.id
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveEdit(id) {
            let linkBaseUrl = '/sell-product/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        }
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_PRODUCT_LIST')
    },

}
</script>
