<template>
    <div>
        <el-row>
            <el-col :span="8">
                <div class="flex-box">
                    <el-select class="mr-1" v-model="searchType" placeholder="상품타입">
                        <el-option label="원자재" value="RAW_MATERIAL"></el-option>
                        <el-option label="완제품" value="FINISHED_PRODUCT"></el-option>
                    </el-select>
                    <el-input class="mr-1" v-model="searchName" placeholder="이름"></el-input>
                    <el-button type="success" circle @click.native="getList">검색</el-button>
                </div>
            </el-col>
        </el-row>
        <el-table
            :data="list"
            style="width: 100%"
            class="mt-2 mb-2"
            @row-click="moveDetail">
            <el-table-column
                prop="id"
                label="No."
                width="80"
                align="center">
            </el-table-column>
            <el-table-column
                prop="productName"
                label="상품명"
                align="center">
            </el-table-column>
            <el-table-column
                prop="productType"
                label="상품타입"
                align="center">
            </el-table-column>
            <el-table-column
                prop="unitPrice"
                label="가격"
                align="center">
            </el-table-column>
        </el-table>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="page"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>
<script>

export default {
    // middleware: 'auth',
    data() {
        return {
            list: [],
            page: 1,
            totalItemCount: 0,

            searchType: null,
            searchName: null
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
                params: {
                    searchType: this.searchType,
                    searchName: this.searchName
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$productConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push(`/product/form`)
        },
        moveDetail(row) {
            let linkBaseUrl = '/product/detail/'
            let id = row.id
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveEdit(id) {
            let linkBaseUrl = '/product/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        }
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'PRODUCT_LIST')
    },

}
</script>
<style>
.flex-box {
    display: flex;
}
</style>
