<template>
    <div>
        <div v-if = "detailData != null">
            결과 : {{ detailData.isSuccess }}<br />
            결과 메세지 : {{ detailData.msg }}
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            detailData: null
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$authTestConstants.DO_TEST_DATA)
                .then((res) => {
                    this.detailData = res.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getDetail()
    }
}
</script>
