<template>
    <div>
        <el-table
            :data="list"
            style="width: 100%"
            class="mb-2">
            <el-table-column
                prop="id"
                label="No."
                width="80">
            </el-table-column>
            <el-table-column
                prop="price"
                label="가격">
            </el-table-column>
            <el-table-column
                prop="product"
                label="상품">
            </el-table-column>
            <el-table-column
                prop="quantity"
                label="수량">
            </el-table-column>
        </el-table>
        <el-button type="primary" @click.native="moveProductOrder">발주 등록</el-button>
    </div>
</template>
<script>
export default {
    // middleware: 'auth',
    data() {
        return {
            list: []
        }
    },
    methods: {
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$basketConstants.DO_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push(`/basket/form`)
        },
        moveProductOrder() {
            if (confirm('발주하시겠습니까?')) { // javascript confirm 검색하기
                let payload = {
                    productId: this.id,
                    quantity: this.quantity
                }
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$productOrderConstants.DO_CREATE, payload)
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        }
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BASKET_LIST')
    },

}
</script>
