<template>
    <div>
        <div v-if="detailInfo != null">
            <el-descriptions border column="2">
                <el-descriptions-item label="상품타입">{{ detailInfo.sellProductType }}</el-descriptions-item>
                <el-descriptions-item label="상품명">{{ detailInfo.productName }}</el-descriptions-item>
                <el-descriptions-item label="가격">{{ detailInfo.unitPrice }}</el-descriptions-item>
                <el-descriptions-item label="상태">{{ detailInfo.isEnabled }}</el-descriptions-item>
            </el-descriptions>
        </div>
        <div class="mt-2" align="right">
            <el-button type="primary" circle @click.native="moveEdit(id)">수정</el-button>
        </div>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    // validate({ params }) {
    //     return /^\d+$/.test(params.id)
    // },
    data() {
        return {
            id: null,
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$sellProductConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveEdit(id) {
            let linkBaseUrl = '/sell-product/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_PRODUCT_DETAIL')
    },
}
</script>
